.slogan{
    background-color: black;
    height: 100vh;
}

#tsiory{
    font-family: 'Abril Fatface', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Genos', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lugrasimo', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Tajawal', sans-serif;
font-family: 'Urbanist', sans-serif;
font-family: 'Work Sans', sans-serif;
}

.myabilities{
   
    height: 100vh;
}