*{
    font-family: 'Abril Fatface', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Genos', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lugrasimo', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Tajawal', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Urbanist', sans-serif;
font-family: 'Work Sans', sans-serif;
}


.slogan{
  background-color: black;
  background-image: url(../images/pic.png);
  background-repeat: no-repeat;
  background-position:80% 25%;
    height: 100vh;
}







.margin1{
    margin-left: 20%;
}


.wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}

.wrapper .static-text{
    font-size: 30px;

}

.wrapper .dynamic-text li span{
    font-size: 30px;
    color:#800020;
    font-weight: bold;
}

.margin2{
    margin-top: 15vh;
    margin-bottom: 10vh;
}

