.projecttittle{
    color: black;
    background-color:#181818 ;
    margin-bottom: 0;
    color: rgb(66, 65, 65);
    padding-top: 10vh;
    font-weight: 900;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:linear-gradient(to bottom, #181818 30%,rgba(0,0,0) 70%);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
   
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 600px;
  }

  
 


.slide{
    position: relative;
    background-color: #fff;
    width: 400px;
    height: 600PX;
    margin: 0 auto;

}


.slide .txtcontent{
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
    color: black;
}

.slide .sliderimg{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.slide .sliderimg img{
    width: 100%;
    height: 100%;
}


