.projecttittle{
    color: black;
    background-color:#181818 ;
    margin-bottom: 0;
    color: rgb(66, 65, 65);
    padding-top: 10vh;
    font-weight: 900;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:linear-gradient(to bottom, #181818 30%,rgba(0,0,0) 70%);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
   
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 600px;
  }

  
 


.slide{
    position: relative;
    background-color: #fff;
    width: 400px;
    height: 600PX;
    margin: 0 auto;

}


.slide .txtcontent{
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
    color: black;
    
}

@media (max-width:439px) {
    swiper-slide{
        width: 350px;
    }
    .slide{
        width: 350px;
    }
    .slide .txtcontent{
        width: 350px;
        padding:8px
        
    }
}

@media (max-width:385px) {
    swiper-slide{
        width: 300px;
    }
    .slide{
        width: 300px;
    }
    .slide .txtcontent{
        width: 300px;
        padding:3px
        
    }
}

.slide .sliderimg{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.slide .sliderimg img{
    width: 100%;
    height: 100%;
}

.transition{
    position: relative;
    display: flex;
    justify-content: center;
    height: fit-content;

    background: #181818 ;
    
}

.transition p{
    color: white;
    font-size: 20px;
}

.scroll{
    position: absolute;
    top: 40px;
    left: calc(50%-40px/2);
    width: 40px;
    height: 40px;
    
    transform: rotate(45deg) 
    

}

.scroll span{
    position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid white;
  border-right:2px solid white;
  animation: scroll 1.5s linear infinite;
  opacity: 0;
}

.scroll span:nth-child(1){
    transform: translate(-15px , -15px);
    animation-delay: -0.2s;
}

.scroll span:nth-child(2){
    transform: translate(0 , 0);
    animation-delay: -0.4s;
}

@keyframes scroll {
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    100%{
        top: 0;
        left: 0;
        opacity: 1;
    }
}


@media (max-width : 685px) {
    .transition{
        top: 9vh;
        height: 10vh;
        z-index: 0;
    }

    .skill{
        z-index: 10;
    }

 
}


