@media (max-width: 900px) {
  #cv{
   
    position: relative;
    top: 20%;
    left: 3%;
    font-size: 15px;
    padding: 10px 10px;
   
    
    
}
}

@media (max-width:967px) {
  .capital{
    font-size: 60px;

    
  }
  #lowercase{
   letter-spacing: 1em;
  }
}


@media (max-width:725px) {
  .capital{
    font-size: 40px;

    
  }
  #lowercase{
   letter-spacing: 1em;
  }
}

@media (max-width:707px){
  .introduce{
    width: 80%;
  }
} 

@media (max-width:411px){
  .introduce{
    width: 90%;
  }
} 